CREATE POLICY "Notice users can list images"
  ON storage.objects FOR SELECT
  TO authenticated
  USING (
    bucket_id = 'notice'
    AND EXISTS (SELECT 1 FROM profiles p WHERE p.id = auth.uid() AND p.role = 'notice')
  );
